# Visual Studio specific files
.vs/
*.user
*.suo
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.pdb
*.exe
*.dll
*.app

# Packages
packages/
*.nupkg
*.snupkg

# Visual Studio Code specific files
.vscode/

# Other files
*.log
